In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
from sklearn.linear_model import LinearRegression



sns.set_style("whitegrid")
plt.style.use("fivethirtyeight")

In [2]:
TMP = pd.read_csv("tmp_hms_sav_ass.csv", sep=';')
TMP

,id,idResource,idProject,refType,refId,rate,assignedWork,realWork,leftWork,plannedWork,...,plannedEndDate,idRole,dailyCost,newDailyCost,assignedCost,realCost,leftCost,plannedCost,billedWork,notPlannedWork
0,1,5,1,Activity,1,100,NaN,21.00,0.0,21.00,...,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.00,0.0,0.0
1,4,15,4,Activity,4,100,NaN,131.00,0.0,131.00,...,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.00,0.0,0.0
2,6,15,4,Activity,6,100,NaN,21.00,0.0,21.00,...,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.00,0.0,0.0
3,8,15,4,Activity,9,100,NaN,4.00,0.0,4.00,...,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.00,0.0,0.0
4,9,15,4,Activity,10,100,NaN,2.00,0.0,2.00,...,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.00,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7196,7601,9,34,Activity,594,100,NaN,0.00,0.0,0.00,...,NaN,4.0,873.0,873.0,0.0,0.00,0.0,0.00,0.0,0.0
7197,7602,32,34,Activity,594,100,NaN,NaN,NaN,NaN,...,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,0.0,0.0
7198,7603,9,34,Activity,597,100,NaN,0.25,0.0,0.25,...,NaN,4.0,873.0,873.0,0.0,218.25,0.0,218.25,0.0,0.0
7199,7604,7,12,Activity,1524,100,NaN,0.50,0.0,0.50,...,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.00,0.0,0.0
7200,7605,7,50,Activity,1525,100,NaN,2.50,0.0,2.50,...,NaN,NaN,NaN,NaN,0.0,0.00,0.0,0.00,0.0,0.0

In [3]:
TMP = TMP.replace(np.nan,0)
TMP = TMP.replace(np.nan,0)

TMP['realWork'] =  TMP['realWork'].astype(int)
TMP['realCost'] =  TMP['realCost'].astype(int)
TMP = TMP.drop(TMP[TMP.realCost == 0].index)



TMP

,id,idResource,idProject,refType,refId,rate,assignedWork,realWork,leftWork,plannedWork,...,plannedEndDate,idRole,dailyCost,newDailyCost,assignedCost,realCost,leftCost,plannedCost,billedWork,notPlannedWork
1408,1735,9,14,Activity,426,100,0.00,0,0.00,0.25,...,0.0,4.0,0.0,873.0,0.00,218,0.00,218.25,0.0,0.0
1496,1833,12,34,Activity,489,20,83.00,15,67.25,83.00,...,0.0,8.0,873.0,0.0,72459.00,436,0.00,436.50,0.0,0.0
1799,2139,9,34,Activity,491,20,13.00,11,1.75,13.00,...,0.0,4.0,873.0,873.0,11349.00,9821,1527.75,11349.00,0.0,0.0
1800,2140,9,34,Activity,494,20,2.50,3,0.00,3.25,...,0.0,4.0,873.0,873.0,2182.50,2837,0.00,2837.25,0.0,0.0
1801,2141,9,34,Activity,495,20,1.00,1,1.50,2.50,...,0.0,4.0,873.0,873.0,873.00,873,1309.50,2182.50,0.0,0.0
1802,2142,9,34,Activity,496,20,1.00,0,0.50,1.00,...,0.0,4.0,873.0,873.0,873.00,436,436.50,873.00,0.0,0.0
1803,2143,9,34,Activity,498,20,1.00,1,0.00,1.00,...,0.0,4.0,873.0,873.0,873.00,873,0.00,873.00,0.0,0.0
1805,2145,9,34,Activity,500,20,1.00,0,0.50,1.00,...,0.0,4.0,873.0,873.0,873.00,436,436.50,873.00,0.0,0.0
1806,2146,9,34,Activity,501,20,1.00,1,0.00,1.00,...,0.0,4.0,873.0,873.0,873.00,873,0.00,873.00,0.0,0.0
1807,2147,9,34,Activity,504,20,0.50,0,0.25,0.50,...,0.0,4.0,873.0,873.0,436.50,218,218.25,436.50,0.0,0.0
1808,2148,9,34,Activity,505,20,0.50,0,0.25,0.50,...,0.0,4.0,873.0,873.0,436.50,218,218.25,436.50,0.0,0.0
1809,2149,9,34,Activity,508,20,0.50,0,0.25,0.50,...,0.0,4.0,873.0,873.0,436.50,218,218.25,436.50,0.0,0.0
1810,2150,9,34,Activity,509,20,0.50,0,0.25,0.50,...,0.0,4.0,873.0,873.0,436.50,218,218.25,436.50,0.0,0.0
1811,2151,9,34,Activity,511,20,4.00,3,4.00,7.25,...,0.0,4.0,873.0,873.0,3492.00,2837,3492.00,6329.25,0.0,0.0
1812,2152,9,34,Activity,512,20,4.00,0,3.25,4.00,...,0.0,4.0,873.0,873.0,3492.00,654,2837.25,3492.00,0.0,0.0
1813,2153,9,34,Activity,513,20,2.00,2,0.00,2.00,...,0.0,4.0,873.0,873.0,1746.00,1746,0.00,1746.00,0.0,0.0
1814,2154,9,34,Activity,514,20,1.50,2,0.00,2.00,...,0.0,4.0,873.0,873.0,1309.50,1746,0.00,1746.00,0.0,0.0
1815,2155,9,34,Activity,515,20,0.50,1,0.00,1.00,...,0.0,4.0,873.0,873.0,436.50,873,0.00,873.00,0.0,0.0
1816,2156,9,34,Activity,516,20,1.00,1,0.00,1.25,...,0.0,4.0,873.0,873.0,873.00,1091,0.00,1091.25,0.0,0.0
1818,2158,9,34,Activity,519,20,0.50,0,0.00,0.50,...,0.0,4.0,873.0,873.0,436.50,436,0.00,436.50,0.0,0.0
1820,2160,9,34,Activity,521,20,0.50,0,0.00,0.50,...,0.0,4.0,873.0,873.0,436.50,436,0.00,436.50,0.0,0.0
1821,2161,9,34,Activity,522,20,0.25,0,0.00,0.25,...,0.0,4.0,873.0,873.0,218.25,218,0.00,218.25,0.0,0.0
1822,2162,9,34,Activity,524,20,3.00,2,1.00,3.00,...,0.0,4.0,873.0,873.0,2619.00,1746,873.00,2619.00,0.0,0.0
1823,2163,9,34,Activity,526,20,1.25,1,0.00,1.25,...,0.0,4.0,873.0,873.0,1091.25,1091,0.00,1091.25,0.0,0.0
1824,2164,9,34,Activity,528,20,1.25,1,0.25,1.25,...,0.0,4.0,873.0,873.0,1091.25,873,218.25,1091.25,0.0,0.0
1825,2165,9,34,Activity,529,20,2.00,1,1.00,2.00,...,0.0,4.0,873.0,873.0,1746.00,873,873.00,1746.00,0.0,0.0
1827,2167,9,34,Activity,553,20,2.00,1,1.00,2.00,...,0.0,4.0,873.0,873.0,1746.00,873,873.00,1746.00,0.0,0.0
7158,7562,9,17,Activity,486,100,0.00,0,0.00,0.75,...,0.0,4.0,873.0,873.0,0.00,654,0.00,654.75,0.0,0.0
7165,7569,9,34,Activity,489,100,0.00,1,0.00,1.50,...,0.0,4.0,873.0,873.0,0.00,1309,0.00,1309.50,0.0,0.0
7198,7603,9,34,Activity,597,100,0.00,0,0.00,0.25,...,0.0,4.0,873.0,873.0,0.00,218,0.00,218.25,0.0,0.0

In [4]:
dataset.info()

NameError: name 'dataset' is not defined

In [ ]:
dataset.describe()

In [ ]:
dataset.columns

In [5]:
X = TMP[[ 'idResource', 'idProject',

         'comment',
        'idRole', 'dailyCost',
       'realCost', 'leftCost', 'notPlannedWork']]
y = TMP['realWork']

In [14]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

In [15]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif      
from sklearn.feature_selection import f_regression  
#Score function:
#For regression: f_regression, mutual_info_regression
#For classification: chi2, f_classif, mutual_info_classif

kbest = SelectKBest(score_func=f_regression, k=5)
kbest.fit(X_train, y_train)
print("Sélection de variables :", kbest.get_support())
print("Scores de variables :", kbest.scores_)
print("Variables sélectionnées:", list(X.columns[kbest.get_support()]))
print("Variables supprimées :", list(X.columns[~kbest.get_support()]))

Sélection de variables : [ True  True False  True False  True  True False]
Scores de variables : [33.39917211  0.51858935         nan 33.39917211  0.2467846   9.90140677
  0.34512108         nan]
Variables sélectionnées: ['idResource', 'idProject', 'idRole', 'realCost', 'leftCost']
Variables supprimées : ['comment', 'dailyCost', 'notPlannedWork']

C:\Users\saifn\anaconda3\lib\site-packages\sklearn\feature_selection\_univariate_selection.py:302: RuntimeWarning: invalid value encountered in true_divide
  corr /= X_norms

In [16]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, median_absolute_error, r2_score

X_train = kbest.transform(X_train)
X_test = kbest.transform(X_test)
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

print('test_score = ',model.score(X_test,y_test)) 
print('R2 = ',r2_score(y_test, y_pred))
print('MAE = ',mean_squared_error(y_test, y_pred))
print('RMSE = ', np.sqrt(mean_squared_error(y_test, y_pred)))
print('MAE = ', mean_absolute_error(y_test, y_pred))
print('Meadian = ', median_absolute_error(y_test, y_pred))

test_score =  0.8881833163024687
R2 =  0.8881833163024687
MAE =  0.05280232285716754
RMSE =  0.22978756027506697
MAE =  0.21443950355352825
Meadian =  0.23117955959781966

In [17]:
pre = model.score(X_test, y_test)
pre

0.8881833163024687

In [18]:
import pickle
with open('dur.pkl', 'wb') as file:
    pickle.dump(model, file)

In [ ]:
import flask

import pickle

# Use pickle to load in the pre-trained model.

with open(f'model/duration.pkl', 'rb') as f:

    model = pickle.load(f)

app = flask.Flask(__name__, template_folder='templates')


@app.route('/duration', methods=['GET', 'POST'])

def duration():

    if flask.request.method == 'GET':

        return(flask.render_template('main.html'))

    if flask.request.method == 'POST': 

        idResource = flask.request.form['idResource']

        idProject = flask.request.form['idProject']

        realCost = flask.request.form['realCost']
        
        idRole = flask.request.form['idRole']

        dailyCost = flask.request.form['dailyCost']

        input_variables = pd.DataFrame([[idResource, idProject, realCost,idRole,dailyCost]],

                                       columns=['idResource', 'idProject', 'realCost', 'idRole', 'dailyCost'],

                                       dtype=float)

        prediction = model.predict(input_variables)[0]

        return flask.render_template('main.html',

                                     original_input={'idResource':idResource,

                                                     'idProject':idProject,

                                                     'realCost':realCost,

                                                     'idRole':idRole,

                                                     'dailyCost':dailyCost},

                                     result=prediction,)

from werkzeug.serving import run_simple
run_simple('localhost', 8002, app)

 * Running on http://localhost:8002/ (Press CTRL+C to quit)
127.0.0.1 - - [15/May/2021 23:10:03] "POST /duration HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2021 23:10:09] "POST /duration HTTP/1.1" 200 -
127.0.0.1 - - [15/May/2021 23:10:20] "POST /duration HTTP/1.1" 200 -